@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;

}
ul{
    display: flex;
    gap: 20px;
    

}
ul li{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: 1s ease;
    cursor: pointer;
    
    
}
ul li a{
    text-decoration: none;
    color: black;
}
.nav1{
    margin: 16px;
    
}
.logo{
    font-size: 30px;
    color: black;
    background-color:rgb(172, 168, 168);
    padding: 5px;
    border-radius: 50px;

}
span{
    color: orange;
}
.logo:hover{
    color:white;
    background-color: black;

}
a:hover{
    color: orange;
}